<ul class="rails_menu">
    <li><%= link_to "Início", root_path %></li>
    <li><%= link_to "Metas", goals_path %></li>
    <li><%= link_to "Leituras", readings_path %></li>
    <li><%= link_to "Livros", books_path %></li>
    <li><%= link_to "Autores", authors_path %></li>
    <li><%= link_to "Gêneros", genres_path %></li>
</ul>