<p style="color: green"><%= notice %></p>

<%= render @goal %>

<div>
  <%= link_to "Editar esta meta", edit_goal_path(@goal) %> |
  <%= link_to "Voltar para metas", goals_path %>

  <%= button_to "Destruir esta meta", @goal, method: :delete %>
</div>
