<%= form_with(model: reading) do |form| %>
  <% if reading.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

      <ul>
        <% reading.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
      <%= form.select("book_id", @books_list, { include_blank: true }) %>
  </div>

  <div>
      <%= form.select :goal_id, Goal.all.map { |key| [key.name, key.id] }, { include_blank: "Meta" }, {class: 'form-control' } %>
  </div>

  <div>
    <%= form.label :month, style: "display: block" %>
    <%= form.select :month, Reading.months.map { |key| [key.second, key.first] }, { include_blank: "Mês" }, {class: 'form-control' } %>

  </div>

  <div>
    <%= form.label :progress, style: "display: block" %>
    <%= form.select :progress, Reading.progresses.map { |key| [key.second, key.first] }, { include_blank: "Progresso" }, {class: 'form-control' } %>
  </div>

  <div>
    <%= form.label :evaluation, style: "display: block" %>
    <%= form.select :evaluation, Reading.evaluations.map { |key| [key.second, key.first] }, { include_blank: "Avaliação" }, {class: 'form-control' } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
