<div id="<%= dom_id reading %>">

  <p>
    <strong>Meta (ano):</strong>
    <%= reading.goal.name %>
  </p>

  <p>
    <strong>Livro:</strong>
    <%= reading.book.title %>
  </p>

  <p>
    <strong>Mês:</strong>
    <%= reading.month %>
  </p>

  <p>
    <strong>Progresso:</strong>
    <%= reading.progress %>
  </p>

  <p>
    <strong>Avaliação:</strong>
    <%= reading.evaluation %>
  </p>

</div>
