<p style="color: green"><%= notice %></p>

<%= render @reading %>

<div>
  <%= link_to "Editar esta leitura", edit_reading_path(@reading) %> |
  <%= link_to "Voltar para leituras", readings_path %>

  <%= button_to "Destruir esta leitura", @reading, method: :delete %>
</div>
