<p style="color: green"><%= notice %></p>

<%= render @author %>

<div>
  <%= link_to "Editar este autor", edit_author_path(@author) %> |
  <%= link_to "Voltar para autores", authors_path %>

  <%= button_to "Destruir este autor", @author, method: :delete %>
</div>
